:root {
  /* variables */
  --cg-black: rgb(30, 32, 32);
  --cg-blue: rgb(36, 94, 255);
  --cg-grey: rgb(243, 243, 243);
  --cg-white: rgb(255, 255, 255);
}

html {
  height: 100%;
}

body {
  background: #fbc372;
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: monospace;
}

/* CSS for navigation */

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  background-color: var(--cg-black);
  color: var(--cg-white);
  padding: 0px 0px;

  /* Debug border */
  /* border: solid red; */
}

.nav-list {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 50px;
  list-style: none;
  margin-left:"auto"

  /* Debug border */
  /* border: solid blue; */
}

.navbar a {
  color: var(--cg-white);
  font-weight: bold;
  margin: 0 12px;
  text-decoration: none;
  letter-spacing: 2px;

  font-family: monospace;
}

.navbar a:hover {
  color: var(--cg-blue);
  text-decoration: underline;
}

.navbar a:active {
  color: var(--cg-blue);
}
.logo {
  margin-right: auto; /* Push the logo to the right */
}
.logo a {
  font-family: Georgia;
  
}

.logo a:hover {
  text-decoration: None;
}

main {
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: Georgia;
}
.page-title a{
  color: black;
  font-weight: bold;
  margin: 0 12px;
  text-decoration: none;
  letter-spacing: 2px;

}
.page-title a:hover{
  color: var(--cg-blue);
}

/* CSS for portfolio grid */

.project {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: 1em 0 2em 0;

  /* Debug border */
  /* border: 2px solid blue; */
}

.item-link {
  width: 70%;

  /* Debug border */
  /* border: 2px solid red; */
}

.project-image {
  object-fit: cover;
  width: 100%;
  height: 500px;
  flex-basis: 50px;
  flex-grow: 2;

  /* Debug border */
  /* border: 2px solid black; */
}

.project-details {
  display: flex;
  background-color: var(--cg-white);
  width: 30%;
  height: 500px;
  flex-shrink: 1;
  padding: 0 20px;
  margin: 0px;
  line-height: 1.5;
  overflow: scroll;

  flex-direction: column;
  text-align: center;
  justify-content: center;

  /* Debug border */
  /* border: 2px solid green; */
}

.project-details a {
  color: var(--cg-black);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}

.project-details a:hover {
  color: var(--cg-blue);
  text-decoration: underline;
}

.project-name {
  font-weight: bold;
  font-size: 20px;
}

/* CSS for home page */

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fbc372;
  border: 1px transparent #fbc372;
  border-radius: 5px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.images {
  display: flex; /* Horizontally flex the images */
}

.about-image-index img {
  max-width: 300px;
  border-radius: 3px;
  
  height: 400;
  aspect-ratio : auto 400 / 400;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}
.second_image img {
  max-width: 607px; /* Adjust as needed */
  border-radius: 3px;
  
  height : 400;
  aspect-ratio: auto 607 / 400;
}

 /* .about-text {
  flex: 1;
  margin-left: 20px;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
}

.about-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 16px;
  line-height: 1.5;
}  */
.about-text {
  flex-grow: 1;
  margin-left: 20px;
}

.about-text h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 16px;
  line-height: 1.5;
  max-width: 600px; /* Adjust the max-width as needed */
}

/* CSS for resume page */


.resume h2 {
  font-family: Georgia;
}
.page-title-resume{
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: Georgia;
}
.about-download a { 
  color: var(--cg-black);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}
.about-download a:hover{
  color: var(--cg-blue);
  font-weight: normal;}
/* CSS for contact form */

label {
  display: block;
  margin-bottom: 8px;
  font-family: Georgia;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}
input[type="submit"]{
  border-color: aqua;
  border-style: double;
}
/* Add some spacing to the form */
form {
  width: 500px;
  margin: 0 auto;
}

/* CSS for footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cg-black);
  color: var(--cg-white);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
p {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
}
#page-title-blog{
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: Georgia;
}
.about-blog {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center;
  align-items: center; /* Center horizontally within the container */
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.about-blog a{
  color: var(--cg-black);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}
.about-blog a:hover{
  color: blue;
  font-weight: normal;}




.round-image {
  width: 200px; /* Set your desired width */
  height: 250px; /* Set your desired height */
  border-radius: 50%; /* Make the image circular */
  object-fit: cover; /* Maintain aspect ratio and cover the entire circle */
}

    /* Debug border */
    /* border: 2px solid black; */
  
  
